## 1. 라이브러리 및 데이터 불러오기

In [44]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [127]:
company = pd.read_excel('C:/Users/hanah/Desktop/workspace/Project/ESG/preprocessing/dart/company_info.xlsx')
dart = pd.read_excel('C:/Users/hanah/Desktop/workspace/Project/ESG/preprocessing/dart/dart_info.xlsx')
jobplanet = pd.read_excel('C:/Users/hanah/Desktop/workspace/Project/ESG/preprocessing/jobplanet/jobplanet.xlsx')

In [159]:
jobplanet = pd.read_excel('C:/Users/hanah/Desktop/workspace/Project/ESG/preprocessing/jobplanet/jobplanet.xlsx')

## 2. 데이터베이스 생성

In [5]:
conn = pymysql.connect(host='localhost', user='root', password='test1234', charset='utf8')
cur = conn.cursor()
cur.execute('create database ESG' )

1

In [ ]:
# sql = '''
# create table ESG.company(
#                         id INT NOT NULL AUTO_INCREMENT,
#                         cmp_name VARCHAR(20) NOT NULL,
#                         kosdaq_no int(20) NOT NULL,
#                         ceo_name VARCHAR(45) NOT NULL,
#                         biz_no VARCHAR(20) NOT NULL,
#                         industry VARCHAR(55) NOT NULL,
#                         product VARCHAR(500) NULL,
#                         est_date int(20) NULL,
#                         address VARCHAR(500) NULL,
#                         PRIMARY KEY (id))
# '''
# cur.execute(sql)

## 3. 데이터베이스 테이블 및 레코드 추가

In [160]:
jobplanet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58523 entries, 0 to 58522
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   회사명          58523 non-null  object
 1   승진 기회 및 가능성  58523 non-null  int64
 2   복지 및 급여      58523 non-null  int64
 3   업무와 삶의 균형    58523 non-null  int64
 4   사내문화         58523 non-null  int64
 5   경영진          58523 non-null  int64
 6   총평           58523 non-null  object
 7   리뷰           58523 non-null  object
 8   작성년도         58523 non-null  int64
 9   평균평점         58523 non-null  int64
dtypes: int64(7), object(3)
memory usage: 4.5+ MB

In [161]:
jobplanet.columns = ['CmpName', 'Promotion', 'Welfare', 'LifeBalance', 'Culture', 'Management', 'Title', 'Review', 'Year', 'TotScore']

cmp_dict = {}
for idx, cmp in enumerate(company.회사명, start=1):
    cmp_dict[cmp] = idx

jobplanet['CmpID'] = 0
for idx in range(len(jobplanet)):
    jobplanet.loc[idx, 'CmpID'] = cmp_dict[jobplanet['CmpName'][idx]]

jobplanet = jobplanet[['CmpName', 'Year', 'Title', 'Review', 'TotScore', 'Promotion', 'Welfare', 'LifeBalance', 'Culture', 'Management', 'CmpID']]
# jobplanet['CmpID'] = list(range(1,1389))*2

In [ ]:
# def insert(table, df):
#     for row in list(company.itertuples(index=False, name=None)):
#         sql = f'INSERT INTO {table} VALUES {row}'
#         cur.execute(sql)
#     conn.commit()

In [179]:
db_connection = create_engine('mysql+pymysql://root:test1234@localhost:3306/ESG?charset=utf8mb4', encoding='utf-8')
conn = db_connection.connect()

In [181]:
jobplanet.to_sql(name='jobplanet', con=db_connection, if_exists='append',index=False)
conn.execute('ALTER TABLE jobplanet ADD ID INT NOT NULL PRIMARY KEY AUTO_INCREMENT FIRST')

In [182]:
conn.execute('''
ALTER TABLE jobplanet 
ADD CONSTRAINT fk_jobplanet_CmpID
FOREIGN KEY (CmpID) REFERENCES company (ID)
''')

# conn.execute('ALTER TABLE esg.dart DROP COLUMN CmpName')
# conn.close()