## 1. 라이브러리 및 데이터 불러오기

In [44]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [67]:
company = pd.read_excel('C:/Users/hanah/Desktop/workspace/Project/ESG/preprocessing/dart/company_info.xlsx')
dart = pd.read_excel('C:/Users/hanah/Desktop/workspace/Project/ESG/preprocessing/dart/dart_info.xlsx')

## 2. 데이터베이스 생성

In [5]:
conn = pymysql.connect(host='localhost', user='root', password='test1234', charset='utf8')
cur = conn.cursor()

sql = 'create database ESG' 
cur.execute(sql)

1

In [ ]:
# sql = '''
# create table ESG.company(
#                         id INT NOT NULL AUTO_INCREMENT,
#                         cmp_name VARCHAR(20) NOT NULL,
#                         kosdaq_no int(20) NOT NULL,
#                         ceo_name VARCHAR(45) NOT NULL,
#                         biz_no VARCHAR(20) NOT NULL,
#                         industry VARCHAR(55) NOT NULL,
#                         product VARCHAR(500) NULL,
#                         est_date int(20) NULL,
#                         address VARCHAR(500) NULL,
#                         PRIMARY KEY (id))
# '''
# cur.execute(sql)

## 3. 데이터베이스 테이블 및 레코드 추가

In [73]:
dart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2776 entries, 0 to 2775
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   회사명           1388 non-null   object
 1   결산연도          2776 non-null   int64
 2   최대주주_성명       2770 non-null   object
 3   최대주주_관계       2770 non-null   object
 4   최대주주_주식종류     2770 non-null   object
 5   최대주주_기초주식수    2770 non-null   object
 6   최대주주_기초주식지분율  2770 non-null   object
 7   최대주주_기말주식수    2770 non-null   object
 8   최대주주_기말주식지분율  2770 non-null   object
 9   소액주주수         2770 non-null   object
 10  주주수           2770 non-null   object
 11  소액주주비율        2770 non-null   object
 12  소액주주_주식수      2770 non-null   object
 13  총주식수          2770 non-null   object
 14  소액주주_주식지분율    2770 non-null   object
 15  감사의견          2770 non-null   object
 16  감사의견_강조사항     2770 non-null   object
 17  핵심감사사항        2770 non-null   object
dtypes: int64(1), object(17)
memory usage: 390.5+ KB

In [69]:
dart.columns = ['CmpName', 'Year', 'MajorSHName', 'MajorSHRelat', 'MajorSHType', 'MajorSHStrtNum', 'MajorSHStrtRatio', 
                'MajorSHEndNum', 'MajorSHEndRatio', 'MinorSHCnt', 'TotalSHCnt', 'MinorSHCntRatio', 'MinorSHNum', 'TotalSHNum',
                'MinorSHRatio', 'AdtOpinion', 'EmphsMatter', 'CoreAdtMatter']
# dart = dart[['cmp_name', 'kosdaq_no', 'ceo_name', 'biz_no', 'est_date', 'address', 'industry', 'product']]

In [56]:
db_connection = create_engine('mysql+pymysql://root:test1234@localhost:3306/ESG?charset=utf8', encoding='utf-8')
conn = db_connection.connect()

In [64]:
company.to_sql(name='company', con=db_connection, if_exists='append',index=False)
conn.execute('ALTER TABLE company ADD id INT NOT NULL PRIMARY KEY AUTO_INCREMENT FIRST')
# conn.close()

In [ ]:
sql = '''
SELECT company.CmpName, dart.CmpName
FROM 상품3 LEFT JOIN 재고수
ON 상품3.상품코드 = 재고수.상품코드
WHERE 상품3.상품분류 = '식료품';

In [ ]:
sql = '''
ALTER TABLE dart ADD CONSTRAINT fk_Company_ID
FOREIGN KEY (Company_ID) REFERENCES company (ID)
ON DELETE RESTRICT & ON UPDATE CASCADE
'''
conn.execute(sql)
# conn.close()

In [ ]:
def insert(table, df):
    for row in list(company.itertuples(index=False, name=None)):
        sql = f'INSERT INTO {table} VALUES {row}'
        cur.execute(sql)
    conn.commit()