## 1. 라이브러리 및 데이터 불러오기

In [1]:
import pandas as pd
import re
import pymysql
from sqlalchemy import create_engine

In [3]:
company = pd.read_excel('C:/Users/hanah/Desktop/workspace/Project/ESG/2. preprocessing/dart/company_info.xlsx')
# dart = pd.read_excel('C:/Users/hanah/Desktop/workspace/Project/ESG/preprocessing/dart/dart_info.xlsx')
# jobplanet = pd.read_excel('C:/Users/hanah/Desktop/workspace/Project/ESG/preprocessing/jobplanet/jobplanet.xlsx')
# product = pd.read_csv('C:/Users/hanah/Desktop/workspace/Project/ESG/preprocessing/product/product_tb.csv')
# news = pd.read_excel('C:/Users/hanah/Desktop/workspace/Project/ESG/preprocessing/news/NEWS_Preprocessing.xlsx')
# patent = pd.read_excel('C:/Users/hanah/Desktop/workspace/Project/ESG/2. preprocessing/patent/patent_preprocessing2.xlsx')
report = pd.read_excel('C:/Users/hanah/Desktop/workspace/Project/ESG/5. rating/predict_nf.xlsx')

## 2. 데이터베이스 생성

#루트 사용자 접속
sudo mysql -u root -p

#데이터베이스 생성
CREATE DATABASE esg CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
use esg;

#사용자 생성 (%외부에서 접속가능, 패스워드)
create user team_1@% identified by 'esg1'; 

#권한부여
grant all privileges on esg.* to team_1@%;

#사용자로 접속
sudo mysql -u team_1 -p esg;
패스워드 입력

#재접속
quit

sudo service mysql restart;

In [ ]:
conn = pymysql.connect(host='SeSAC-campus1', user='root', password='test', charset='utf8')
cur = conn.cursor()
cur.execute('create database ESG' )

In [ ]:
# sql = '''
# create table ESG.company(
#                         id INT NOT NULL AUTO_INCREMENT,
#                         cmp_name VARCHAR(20) NOT NULL,
#                         kosdaq_no int(20) NOT NULL,
#                         ceo_name VARCHAR(45) NOT NULL,
#                         biz_no VARCHAR(20) NOT NULL,
#                         industry VARCHAR(55) NOT NULL,
#                         product VARCHAR(500) NULL,
#                         est_date int(20) NULL,
#                         address VARCHAR(500) NULL,
#                         PRIMARY KEY (id))
# '''
# cur.execute(sql)

## 3. 데이터베이스 테이블 및 레코드 추가

In [7]:
report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2764 entries, 0 to 2763
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CmpID         2764 non-null   int64
 1   Year          2764 non-null   int64
 2   Ecnt          2556 non-null   float64
 3   Scnt          2556 non-null   float64
 4   Gcnt          2556 non-null   float64
 5   TonePolarity  2556 non-null   float64
 6   Escore        2556 non-null   float64
 7   Sscore        2556 non-null   float64
 8   Gscore        2556 non-null   float64
 9   TotalScore    2556 non-null   float64
 10  Egrade        2764 non-null   object
 11  Sgrade        2764 non-null   object
 12  Ggrade        2764 non-null   object
 13  TotalGrade    2764 non-null   object
 14  TotalRanking  2556 non-null   float64
 15  IndRanking    2556 non-null   float64
dtypes: float64(10), int64(2), object(4)
memory usage: 345.6+ KB

In [17]:
company.columns = ['CmpID', 'BizNo', 'StockCode', 'CmpName', 'Product', 'Owner', 'Address', 'EstDate', 'Industry']
company = company[['CmpID', 'CmpName', 'StockCode', 'Owner', 'BizNo', 'EstDate', 'Address', 'Industry', 'Product']]

#jobplanet.columns = ['CmpName', 'Promotion', 'Welfare', 'LifeBalance', 'Culture', 'Management', 'Title', 'Review', 'Year', 'TotScore']
# dart = dart[['CmpID', 'Year', 'MajorSHRatio', 'MinorSHCntRatio', 'MinorSHRatio', 'AdtOpinion', 'EmphsMatter', 'CoreAdtMatter']]
cmp_dict = {}
for idx, cmp in enumerate(company.회사명, start=1):
    cmp_dict[cmp] = idx

news['CmpID'] = 0
for idx in range(len(news)):
    news.loc[idx, 'CmpID'] = cmp_dict[news['Keyword'][idx]]

news = news[['CmpID', 'Year', 'Title', 'Content' ]]
#jobplanet = jobplanet[['CmpID', 'Year', 'Title', 'Review', 'TotScore', 'Promotion', 'Welfare', 'LifeBalance', 'Culture', 'Management']]

In [ ]:
# def insert(table, df):
#     for row in list(company.itertuples(index=False, name=None)):
#         sql = f'INSERT INTO {table} VALUES {row}'
#         cur.execute(sql)
#     conn.commit()

In [8]:
db_connection = create_engine("mysql+pymysql://team_1:esg1@43.201.96.246:3306/esg?charset=utf8mb4", encoding='utf-8')
conn = db_connection.connect()

In [9]:
report.to_sql(name='Report', con=db_connection, if_exists='append',index=False)
conn.execute('ALTER TABLE Report ADD ID INT NOT NULL PRIMARY KEY AUTO_INCREMENT FIRST')

In [10]:
conn.execute('''
ALTER TABLE Report 
ADD CONSTRAINT fk_Report_CmpID
FOREIGN KEY (CmpID) REFERENCES Company (ID)
''')

# conn.execute('ALTER TABLE esg.dart DROP COLUMN CmpName')

## 4. 데이터 불러오기

In [5]:
data = conn.execute('select * from News').fetchall()
data = pd.DataFrame(data)

In [8]:
data.to_excel('dart_info.xlsx', index=False)

## 5. 전처리 미완성된 부분 다시 처리

In [ ]:
# dataset = pd.read_csv(csv_file, sep='\t').dropna(axis=0)
# dataset.drop_duplicates(subset=['document'], inplace=True)

In [7]:
data = data.dropna(axis=0)
data = data.loc[data['Content'].str.len() > 100]
data.drop_duplicates(subset=['Content'], inplace=True)

In [4]:
def clean_str(text):
    text = re.sub('[a-zA-Z-一-龥]','', text) # 영어, 한자 제거
    text = re.sub('([ㄱ-ㅎㅏ-ㅣ]+)','', text)  # 자음, 모음 제거
    text = re.sub('<[^>]*>', '', text) # HTML 태그 제거 
    text = re.sub('(\【(.*?)\】)|(\[(.*?)\])|(\((.*?)\))', '', text) # 괄호안 글자 제거
    text = re.sub('[^\w\s^%^~^!^?^.]', ' ', text)  # 특수기호 제거
    pattern = '\.([^\.]*(?:기자|뉴스|특파원|교수|작가|대표|논설|주필|에세이|화백|사설|소장|단장|큐레이터|저작권|평론가|©|©|ⓒ|\@|\/|=|:앞쪽_화살표:|무단|전재|재배포|금지|\[|\]|\(\))[^\.]*)'
    text = re.sub(pattern, '', text) # 바이라인 제거    
    text = re.sub("\.+\.", '.', text)  # 다수의 점 (ex : ...) 점 한개로 대체
    text = re.sub(' +', ' ', text)   # 다수의 공백 축소
    text = re.sub('([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)', '', text) # 이메일 제거
    text = re.sub('(http|ftp|https)://(?:[-\w.]|(?:%[\da-fA-F]{2}))+', '', text) # url 제거
    text = re.sub('([가-힣]{2,3}뉴스|[가-힣]{2,3} 기자)', '', text) # 매체, 기자 이름 제거
    text = text.replace('Copyrights', '').replace('무단전재 및 재배포 금지', '').replace('무단복제','').replace('무단배포','')
    text = text.replace('재배포 금지','').replace('무단 전재','')
    text = text.replace('\r','. ').replace('x000D','. ')
    text = text.replace('장점','장점 ').replace('단점',' 단점 ')
    return text

In [ ]:
data['Review'] = data['Review'].map(clean_str)
data['Title'] = data['Title'].map(clean_str)

In [25]:
conn.execute('DROP TABLE News')

In [26]:
news.to_sql(name='News', con=db_connection, if_exists='append',index=False)
conn.execute('ALTER TABLE News ADD ID INT NOT NULL PRIMARY KEY AUTO_INCREMENT FIRST')

In [27]:
conn.execute('''
ALTER TABLE News 
ADD CONSTRAINT fk_News_CmpID
FOREIGN KEY (CmpID) REFERENCES Company (ID)
''')

# conn.execute('ALTER TABLE esg.dart DROP COLUMN CmpName')

In [ ]:
conn.close()

### 백업

mysqldump -u{계정} -p{패스워드} {데이터베이스명} > {파일명}.sql
### 전체 데이터베이스 백업
mysql -u{계정} -p{패스워드} --all-databases > {파일명}.sql
### 복원
mysql -u{계정} -p{패스워드} {데이터베이스명} < {파일명}.sql
### 전체 데이터베이스만 복원
mysql -u{계정} -p{패스워드} < {파일명}.sql

### Export한 데이터를 Import 할 DB 생성
mysqladmin -u{username} -p create {newDB}
### 새로 생성한 DB에 Export 한 sql 파일 Import
mysql -u{username} -p {newDB} {newTable} < {fileName}.sql

In [7]:
import os, datetime

userid = "team_1"
passwd = "esg1"
database = "esg"
enc = "utf8"
address = "43.201.96.246:3306"

def dumpdb():
    today = datetime.date.today().strftime("%Y%m%d")
    command = []
    command.append("mysqldump")
    command.append("-u%s" % userid)
    command.append("-p%s" % passwd)
    command.append("-h%s" % address)
    command.append("--default-character-set=%s" % enc)
    command.append("--extended-insert=FALSE")
    command.append("%s > ./%s_%s.sql" % (database, database, today))
    command = " ".join(command)
    os.system(command)
if __name__=="__main__":
    dumpdb()

In [ ]:
os.system("mysqldump -h 43.201.96.246:3306 --set-gtid-purged=OFF -u team_1 -p esg1 -v esg > esg.sql")

In [ ]:
os.system("mysqldump -uteam_1 -pesg1 -h43.201.96.246:3306 esg > esg.sql")