1. 라이브러리 설치

In [1]:
import pandas as pd
# import numpy as np

2. 데이터 불러오기

In [6]:
hazard_2020 = pd.read_excel('./위해상품2020.xlsx')
hazard_2021 = pd.read_excel('./위해상품2021.xlsx')

kosdaq = pd.read_excel('../../ESG-Rating-System/crawling/dart/kosdaq_report_final.xlsx')
kosdaq_df = pd.DataFrame({'사업자번호':kosdaq['사업자등록번호'], '기업명':kosdaq['회사명']})

In [12]:
kosdaq_df
# 사업자번호 : int에서 str으로 type 변경
kosdaq_df['사업자번호'] = kosdaq_df['사업자번호'].astype(str)
type(kosdaq_df['사업자번호'][8])

str

In [13]:
hazard_2020['사업자번호'].replace('-', '', regex=True, inplace=True)
hazard_2020

,사업자번호,순번,업체코드정보,구분명,업체별 그룹명,홈페이지 주소,담당부서,활용목적,시스템 구축완료일자,등록일시,안전상비의약품 취급여부,씨피에이아이디(CPA_ID),모니터링 여부,인증시작일,인증만료일,수신검사기관,관리여부,인증여부
0,2158513569,0,LT,유통업체,대형마트,http://www.lottemart.com,롯데마트 SCM팀,위해상품판매차단 시스템 연계,2009-12-02,2009-09-02 11:15:00,N,GS1-LT-CPA,Y,2017-12-02,2019-12-01,"ME,KF,MF,KA,KE,KM,KB,MW,MK,MC",Y,Y
1,2118721455,0,HD,유통업체,백화점,http://www.ehyundai.com/,IT사업부,위해상품판매차단 시스템 연계,2009-12-02,2009-09-17 15:24:00,N,GS1-HD-CPA,Y,2017-12-02,2019-12-01,"ME,KF,MF,KA,KE,KM,KB,MW,MK,MC",Y,Y
2,1198100851,3,MEGAMART,유통업체,기타소매점,NaN,NaN,위해상품판매차단 시스템 연계,2013-06-01,2009-11-19 12:12:00,Y,NaN,Y,2017-06-01,2019-05-31,"ME,KF,MF,KA,KD,KE,KM,KB,MW,MK,MC",Y,Y
3,1208144752,0,BKFM,유통업체,편의점,http://cu.bgfretail.com,MD기획팀(상품본부),위해상품판매차단 시스템 연계,2009-12-02,2009-12-03 14:55:00,Y,GS1-BKFM-CPA,Y,2017-12-02,2019-12-01,"ME,KF,MF,KA,KD,KE,KM,KB,MW,MK,MC",Y,Y
4,1058605788,0,CHOROK,유통업체,기타소매점,http://www.choroc.com,NaN,위해상품판매차단 시스템 연계,2010-05-26,2009-12-16 12:12:00,N,GS1-CHOROK-CPA,Y,2018-05-26,2020-05-25,"ME,KF,KA,KE,KM,MW,MK,MC",Y,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,2198100317,1,HANWHAON,유통업체,온라인몰,www.galleria.co.kr,NaN,NaN,2018-11-23,2018-11-23 10:04:00,N,GS1-HANWHAON-CPA,Y,2018-11-23,2020-11-22,"ME,KF,MF,KA,KE,KM,KB,MR,MW,MK,MC",Y,Y
88,3148123992,0,KGC,유통업체,온라인몰,http://www.kgc.co.kr,NaN,NaN,2018-12-05,2018-12-05 10:04:00,N,GS1-KGC-CPA,Y,2018-12-05,2020-12-04,"KF,MF",Y,Y
89,1168118745,2,GSFRESH,유통업체,온라인몰,http://www.gsfresh.com,NaN,NaN,2020-04-29,2020-04-29 14:34:00,N,GS1-GSFRESH-CPA,Y,2020-09-17,2022-09-17,"ME,KF,MF,KA,KD,KE,KM,KB,MW,MK,MC",N,Y
90,2138152063,0,DAISO,유통업체,기타소매점,NaN,NaN,위해상품판매차단 시스템 연계,2020-08-20,2020-08-13 13:04:00,N,GS1-DAISO-CPA,N,NaT,NaT,"ME,KF,MF,KA,KE,KM,KB,MW,MK,MC",N,N
91,1208800767,0,CUPANG,유통업체,온라인몰,https://www.coupang.com,NaN,NaN,2020-11-03,2020-11-03 13:39:00,N,GS1-CUPANG-CPA,Y,2020-12-28,2022-12-27,"ME,KF,MF,KA,KD,KE,KM,KB,MW,MK,MC,KI,KH",Y,Y

In [24]:
hazard_2020_df = pd.DataFrame({'사업자번호':hazard_2020['사업자번호'], '등록일시':hazard_2020['등록일시']})
hazard_2020_df

         사업자번호                등록일시
0   2158513569 2009-09-02 11:15:00
1   2118721455 2009-09-17 15:24:00
2   1198100851 2009-11-19 12:12:00
3   1208144752 2009-12-03 14:55:00
4   1058605788 2009-12-16 12:12:00
..         ...                 ...
87  2198100317 2018-11-23 10:04:00
88  3148123992 2018-12-05 10:04:00
89  1168118745 2020-04-29 14:34:00
90  2138152063 2020-08-13 13:04:00
91  1208800767 2020-11-03 13:39:00

[92 rows x 2 columns]

In [32]:
hazard_2020_count = hazard_2020_df.groupby('사업자번호').count().reset_index(drop=False)
hazard_2020_count

         사업자번호  등록일시
0   1048116860     1
1   1048126067     1
2   1048176378     1
3   1048651732     1
4   1048659132     2
..         ...   ...
65  6068131353     1
66  6088515740     1
67  6178153264     1
68  8158101244     1
69  8708801143     2

[70 rows x 2 columns]

In [33]:
# hazard_2020_count = hazard_2020_count.groupby('사업자번호', as_index=False).count()
hazard_2020_count.rename(columns = {'등록일시':'건수'}, inplace=True)
hazard_2020_count

         사업자번호  건수
0   1048116860   1
1   1048126067   1
2   1048176378   1
3   1048651732   1
4   1048659132   2
..         ...  ..
65  6068131353   1
66  6088515740   1
67  6178153264   1
68  8158101244   1
69  8708801143   2

[70 rows x 2 columns]

In [34]:
hazard_2020_merged = pd.merge(kosdaq_df, hazard_2020_count, how='left', on='사업자번호')
# hazard_2020_merged.rename(columns = {'등록일시':'건수'}, inplace=True)
hazard_2020_merged

           사업자번호        기업명  건수
0     6408701749      블리츠웨이 NaN
1     1348163122      석경에이티 NaN
2     6278700257     지놈앤컴퍼니 NaN
3     3148608943    프리시젼바이오 NaN
4     6438700337        알체라 NaN
...          ...        ...  ..
1383  6038106103     하이록코리아 NaN
1384  1208164573  SBI인베스트먼트 NaN
1385  1168116053   리더스 기술투자 NaN
1386  1168115961      엠벤처투자 NaN
1387  3128115972        모헨즈 NaN

[1388 rows x 3 columns]

In [35]:
hazard_2020_merged['건수'].unique()

array([nan,  1.])

In [40]:
hazard_2020_merged[hazard_2020_merged['건수']==1]

           사업자번호      기업명   건수
1095  6038111270  CJ프레시웨이  1.0
1232  1068151510   CJ ENM  1.0

In [8]:
hazard_2020_merged.to_excel('C:/Users/Chae/Desktop/SeSAC/Project/5. ESG_prj/1. 데이터 수집/hazard/hazard_2020.xlsx', index=False)