## 1. 라이브러리 및 데이터 불러오기

In [9]:
import os
import pandas as pd
import re

In [12]:
path = '통계청/'
file_list = os.listdir(path)

In [13]:
df = pd.DataFrame()
for file in file_list:
    data = pd.read_excel(path + file)
    df = pd.concat([df, data])
    
df.reset_index(drop = True, inplace = True)

## 2. 라벨링 평균화

In [40]:
df['label'] = df.iloc[:, 3:9].mean(axis=1)
df['label'] = df['label'].map(round)
df

,날짜,제목,URL,라벨러1,라벨러2,라벨러3,라벨러4,라벨러5,라벨러6,label
0,20180102,"[신년사]손경식 CJ회장_ ""해외사업 공격적 확장_ 성장 가속화""",http://news.naver.com/main/read.nhn?mode=LSD&m...,3,3,3,4,3,3,3
1,20180109,[취업과 창업]신입사원 연차 생기고 공공기관 채용 역대 최대,http://news.naver.com/main/read.nhn?mode=LSD&m...,4,4,5,5,5,4,4
2,20180109,2018년 채용연계형 인턴채용 문 열렸다,http://news.naver.com/main/read.nhn?mode=LSD&m...,4,4,4,4,5,4,4
3,20180109,무술년 채용연계형 인턴채용 스타트,http://news.naver.com/main/read.nhn?mode=LSD&m...,4,3,4,4,5,4,4
4,20180111,그냥 쉬었다 청년_ 30만명 역대 최고치,http://news.naver.com/main/read.nhn?mode=LSD&m...,2,2,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
7613,20200831,코로나 충격에 따른 근로 시간 감소_ 과거 위기의 5배,https://news.naver.com/main/read.nhn?mode=LSD&...,2,2,2,2,2,2,2
7614,20200831,7월 사업체종사자 13만8천명 감소 코로나19 여파에 5개월째 감소,https://news.naver.com/main/read.nhn?mode=LSD&...,4,4,1,2,2,2,2
7615,20200826,한치 앞도 안보인다..채용문 꽁꽁 닫는 카드사,https://news.naver.com/main/read.nhn?mode=LSD&...,2,2,1,2,2,3,2
7616,20200831,토스_ 고객 상담직 신입 및 경력 30명 공개 채용,https://news.naver.com/main/read.nhn?mode=LSD&...,4,4,4,4,2,3,4
7617,20200831,토스_ 연봉 3000만원 고객 상담직 공개채용,https://news.naver.com/main/read.nhn?mode=LSD&...,4,4,4,4,4,3,4

In [42]:
df = df[['제목', 'URL', 'label']]
df.to_excel('train_df.xlsx', index=False)